#mapId {
  height: 100vh; /* Hace que el mapa ocupe todo el alto de la pantalla */
}
.custom-footer {
  position: fixed;
  bottom: 70px; /* Ajusta este valor según la altura del footer predeterminado */
  width: 100%;
  z-index: 10; /* Asegura que esté por encima del contenido */
}
ion-button {
  --background: #FFA500; /* Color de fondo naranja */
  --color: rgb(255, 255, 255); /* Color del texto blanco */
  --border-radius: 25px; /* Bordes redondeados */
  padding: 10px 20px; /* Ajustar el tamaño del botón */
  text-align: center; /* Centrar el texto */
  border: none; /* Eliminar el borde */
}

