<ion-header>
  <ion-toolbar class="transparent-bg">
    <div slot="start" class="ion-margin idioma" >
      <app-language #selectLanguage></app-language>
    </div>
    <div class="show-in-landscape">
      <h1 class="glow-text"> {{ 'AppName' | translate }} </h1>
    </div>
    <div slot="end" class="ion-margin">
      <ion-button class="orange-buton" shape="round" size="small" (click)="navigateTheme()">
        Tema
        <ion-icon slot="start" name="color-wand-outline"></ion-icon>
      </ion-button>
    </div>
   </ion-toolbar>
</ion-header>


<ion-content>
  <img src="/assets/icon/c-28b93bf742.webp" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100; WIDTH:100%; height: 100%;">
  <div class="centrado-vertical">
    <ion-card-content class="login ion-fade-in-up ion-animatable">
      <ion-item>
        <ion-input id="correo" [(ngModel)]="correo" type="text" label="Correo" labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input id="password" [(ngModel)]="password" type="password" label="Contraseña" labelPlacement="floating"></ion-input>
      </ion-item>
    
      <div class="alinear-centro">
        <ion-button (click)="ingresar()" class="">
          Ingresar
        </ion-button>
        <ion-button (click)="registro()" class="">
          Quiero Registrarme
        </ion-button>
        <ion-button (click)="contrasena()" class="">
          He olvidado mi contraseña
        </ion-button>
      </div>
    </ion-card-content>
  </div>
</ion-content>
